# IDE
.idea/

# Python
*.pyc
__pycache__/

# Django
/dgenv/
migrations/
#/dj_gulp/devsettings.py
#/dj_gulp/devurls.py
/dj_gulp/secret.py
/static/assets/libs/
#/static/assets/sass/
#/static/assets/js/
#/devmanage.py

# Other
/node_modules/
#/.bowerrc
#/.editorconfig
#/.eslintrc.json
#/.npmrc
#/gulpfile.js
/package.json
#/README.md