*.sqlite3
*.pyc
*~
__pycache__/
.idea/
.vscode/
/dgenv/
migrations/
/static/assets/libs/
/node_modules/
/package.json


#Uncoment and delete in repo before deploy
#/dj_gulp/secret.py
#/devmanage.py
#/dj_gulp/devsettings.py
#/dj_gulp/devurls.py
#/static/assets/sass/
#/static/assets/js/
#/.bowerrc
#/.editorconfig
#/.eslintrc.json
#/gulpfile.js
#/README.md