*.sqlite3
*.pyc
*~
__pycache__
.idea/
.vscode/
env/
node_modules/
main/migrations/
package.json
package-lock.json


#Uncoment and delete to deploy
#/static/assets/sass/
#/.bowerrc
#/.editorconfig
#/.eslintrc.json
#/gulpfile.js
#/README.md
#/requirements.txt
#/smart-grid-config.js